body {
  background-color: #D9E1D1;
  color: black;
  font-family: Merriweather, Helvetica, sans-serif;
  font-size: 14px;
  margin: 10% 20%;
}

.profile-img {
  text-align: center;
  background-image: url(https://live.staticflickr.com/65535/52566818740_0bac62d016_b.jpg);
  border-radius: 5%;
}

.header {
  text-align: center;
}

.exp-header {
  text-align: center;
  text-transform: uppercase;
  border-bottom: 1px solid #000000;
  margin: 10px;
  padding: 10px;
}

.footer {
  text-align: center;
  color: rgba(0,0,0, 0.4);
  margin: 50px;
  padding: 50px;
}

